/*==============================
リセット
==============================*/

*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:sans-serif;

color:#222;

/* 背景画像 */

background-image:url(images/background.png);

background-size:100% auto;

background-repeat:no-repeat;

background-position:center top;

}

/*==============================
ページ全体
==============================*/

.page{

    width:100%;
    max-width:430px;

    margin:auto;

    min-height:4000px;

    text-align:center;

}


/*==============================
ロゴ
==============================*/

.logo{

    width:65%;
    max-width:260px;
    margin:30px auto;

}

.logo img{

    width:100%;
    height:auto;
    display:block;

}

/*==============================
スライダー
==============================*/

.slider{

    width:calc(100% - 50px);   /* 本文と同じ余白 */
    max-width:380px;
    margin:30px auto;

    overflow:hidden;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.2);

}

.slides{

    display:flex;

    transition:transform .45s ease;

}

.slide{

    flex:0 0 100%;

}

.slide img{

    display:block;

    width:100%;

    aspect-ratio:16/9;

    object-fit:cover;

}
/*==============================
本文
==============================*/

.contents{

    padding:40px 25px;

    text-align:center;

}

.contents h1{

    font-size:34px;

    margin-bottom:30px;

    text-align:center;

}

.contents p{

    font-size:18px;

    line-height:2.1;

    text-align:center;

}
    /*==============================
スクロールアニメーション
==============================*/

.fadein{

    opacity:0;

    transform:translateY(50px);

    transition:
        opacity .8s ease,
        transform .8s ease;

}

.fadein.show{

    opacity:1;

    transform:translateY(0);

}

    /*==============================
ページインジケーター
==============================*/

.indicator{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    margin-top:15px;

}

.bar{

    width:24px;

    height:4px;

    background:#bdbdbd;

    border-radius:10px;

    transition:.35s;

}

.bar.active{

    width:52px;

    background:#ffffff;

}


