/*==============================
リセット
==============================*/
　　
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:
    "Hiragino Sans",
    "Yu Gothic",
    sans-serif;

    color:#222;

    position:relative;

    min-height:100vh;

    overflow-x:hidden;

}
/*==============================
背景
==============================*/

body::before{

    content:"";

    position:absolute;

    inset:0;

    z-index:-2;

    background:
        linear-gradient(
            135deg,
            #003c82 0%,
            #82c8c8 100%
        );

}
/*==============================
方眼
==============================*/

body::after{

    content:"";

    position:absolute;

    inset:0;

    z-index:-1;

    background:

        repeating-linear-gradient(

            to right,

            rgba(255,255,255,.55) 0,

            rgba(255,255,255,.55) 1.5px,

            transparent 1.5px,

            transparent 36px

        ),

        repeating-linear-gradient(

            to bottom,

            rgba(255,255,255,.55) 0,

            rgba(255,255,255,.55) 1.5px,

            transparent 1.5px,

            transparent 36px

        );

}
/*==============================
スタート画面
==============================*/

#loading{

    position:fixed;

    inset:0;

    background:#fff;

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:9999;

    transition:opacity .8s;

}

#loading.hide{

    opacity:0;

    pointer-events:none;

}


/*==============================
ロゴ
==============================*/

.loader{

    position:relative;

    width:275px;

    height:200px;

    display:flex;

    justify-content:center;

    align-items:center;

}

.loader img{

    width:180px;   
    height:auto;

    display:block;

}

/*==============================
円形ローディング
==============================*/

.loader-ring{

    position:absolute;

    width:230px;
    height:230px;

    border-radius:50%;
    border:6px solid transparent;
    border-top:6px solid #000;

    animation:spin 1.2s linear infinite;

}

@keyframes spin{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}

/*==============================
ロード率
==============================*/

.loading-percent{

    position:absolute;

    top:250px;

    left:50%;

    transform:translateX(-50%);

    font-size:20px;

    font-weight:700;

    color:#333;

    letter-spacing:2px;

    font-family:Arial, sans-serif;

}
/*==============================
ページ全体
==============================*/

.page{

    width:100%;
    max-width:430px;

    margin:0 auto;

    padding-bottom:80px;

}


/*==============================
ロゴ
==============================*/

.logo{

    width:68%;

    max-width:230px;

    margin:30px auto 25px;

}

.logo img{

    width:100%;
    height:auto;

    display:block;

}

/*==============================
図鑑カード
==============================*/

.info-card{

    width:calc(100% - 40px);
    max-width:390px;

    margin:40px auto 80px;

    background:rgba(255,255,255,.35);

    border:3px solid rgba(255,255,255,.95);

    border-radius:16px;

    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);

    box-shadow:0 15px 40px rgba(0,0,0,.18);

    position:relative;

    overflow:hidden;

}

/*==============================
カードラベル
==============================*/

.card-label{

    position:absolute;

    top:0;
    left:0;

    width:170px;
    height:40px;

    background:#fff;

    clip-path:polygon(0 0,100% 0,80% 100%,0 100%);

    display:flex;

    align-items:center;

    padding-left:14px;

    z-index:10;

}

.card-label span{

    position:relative;
    left:-8px;

    font-size:12px;

    font-weight:900;

    letter-spacing:2px;

    color:#444;

    white-space:nowrap;

}

.card-label span::after{

    content:"|";

    animation:blink .8s infinite;

}

@keyframes blink{

    0%,50%{

        opacity:1;

    }

    51%,100%{

        opacity:0;

    }

}

/*==============================
カード内
==============================*/

.card-content{

    padding:45px 0 55px;

    display:flex;

    flex-direction:column;

    align-items:center;

}

.photo{

    width:90%;

    max-width:340px;

    margin:0 auto 12px;

    transform:translateY(20px);

}

.photo img{

    width:100%;

    display:block;

    border-radius:12px;

}

/*==============================
本文
==============================*/
.contents{

    width:80%;

    margin:0 auto;

    text-align:center;

}



.contents h1{

    font-size:32px;

    line-height:1.35;

    margin-bottom:20px;

}

.contents h1 span{

    display:block;

    font-size:20px;

    color:#666;

    margin-top:6px;

}

.contents p{

    font-size:17px;

    line-height:2.1;

}


/*==============================
フェードイン
==============================*/

.fadein{

    opacity:0;

    transform:translateY(30px);

    transition:
        opacity .45s ease,
        transform .45s ease;

}

.fadein.show{

    opacity:1;

    transform:translateY(0);

}


/*==============================
スマホ微調整
==============================*/

@media (max-width:430px){

 .photo{

    width:90%;

    max-width:340px;

    margin:0 auto 30px;

}

    .contents{

        width:80%;
        margin-top:35px;

    }

    .contents h1{

        font-size:30px;

    }

    .contents p{

        font-size:16px;

    }

}

/*==============================
ルビ
==============================*/

ruby{

    ruby-align:center;

}

rt{

    font-size:0.55em;

    color:#000;

    font-weight:normal;

}
